*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(16, 16, 16);
  color: white;
}

h1{
  font-size: 3.5rem;
  font-weight: 700;
}

